h1, p{
    text-align: center;
}

li:hover {
    background-color:skyblue;
}

li:active {
    color:white
}

li {
    list-style: none;
}

.lists {
    text-align: center;
}

body {
    background-color: rgb(230,200,100);
}